@import url('https://fonts.googleapis.com/css?family=Abel|Abril+Fatface|Alegreya|Arima+Madurai|Dancing+Script|Dosis|Merriweather|Oleo+Script|Overlock|PT+Serif|Pacifico|Playball|Playfair+Display|Share|Unica+One|Vibur');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
   

    font-family: 'Vibur', cursive;
/*   the main font */
    font-family: 'Abel', sans-serif;

/* background-image: linear-gradient(to top, #d9afd9 0%, #97d9e1 100%); */
}




/* //////////////////////////////////////////// */
/* //////////////////////////////////////////// */


.input-item {
    background: #fff;
    color: #333;
    padding: 14.5px 0px 15px 9px;
    border-radius: 5px 0px 0px 5px;
}



/* Show/hide password Font Icon */

input[class="form-input"]{
    width: 240px;
    height: 50px;
  
    margin-top: 2%;
    padding: 15px;
    
    font-size: 16px;
    font-family: 'Abel', sans-serif;
    color: #5E6472;
  
    outline: none;
    border: 1px solid darkgray;
  
    border-radius: 0px 5px 5px 0px;
    transition: 0.2s linear;
    
}

/* focus  */
input:focus {
    transform: translateX(-2px);
    border-radius: 5px;
}

/* //////////////////////////////////////////// */
/* //////////////////////////////////////////// */

/* input[type="text"] {min-width: 250px;} */
/* buttons  */
button {
    display: inline-block;
    color: #252537;
  
    width: 240px;
    height: 50px;
  
    padding: 0 20px;
  background-color:  #EB0051;
    border-radius: 5px;
    
    outline: none;
    border: 1px solid darkgrey;
  
    cursor: pointer;
    text-align: center;
    transition: all 0.2s linear;
    
    margin: 7% auto;
    letter-spacing: 0.05em;
}
/* Submits */
.submits {
    width: 48%;
    display: inline-block;
    float: left;
    margin-left: 2%;
}

/*       Forgot Password button FAF3DD  */
.frgt-pass {background: transparent;}

/*     Sign Up button  */
.sign-up {background: #B8F2E6;}


/* buttons hover */
button:hover {
    transform: translatey(3px);
    box-shadow: none;
}

/* buttons hover Animation */
button:hover {
    animation: ani9 0.4s ease-in-out infinite alternate;
}
@keyframes ani9 {
    0% {
        transform: translateY(3px);
    }
    100% {
        transform: translateY(5px);
    }
}
#section-left{
    padding: 50px;
    margin-top: 5px;
    text-align: center;
}
#section-right{
    padding: 50px;

    text-align: center;
   
}
.section-right{
    background: -webkit-linear-gradient(#EB7B01, #EB00B0);

 
}

hr{
    width: 50px;
  display: inline-block;
}
.logo{
    font-size: 72px;
    background: -webkit-linear-gradient(#EB7B01, #EB00B0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.logo2{
    background: -webkit-linear-gradient(#fff, #fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 72px;
position: relative;
top: 214px;
}
.text{
    color: rgb(180, 179, 179);
}
.text-2{
position: relative;
    color: #fff;
    top: 214px;

}